@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --dark-blue-color: #2947a9;
  --nav-link-color: #14171f;
  --orange-color: #f9995d;
  --home-card-color: #3559c7;
  --very-dark-blue-color: #292e3d;
  --reason-box-border-color: #e0e3eb;
  --reason-box-heading-color: #3d445c;
  --reason-box-description-color: #858ead;
  --service-bg-color: #f5f5f5;
  --service-image-border-bottom-stroke-color: #e0e3eb;
  --stats-diagram-box-shadow-color: rgba(17, 24, 39, 10%);
  --stat-left-description-color: #667299;
  --stats-text-description-color: #cccccc;
  --project-link-color: #c2c7d6;
  --project-card-pagination-bg-color: #f6f8f7;
  --form-section-bg-color: #f6f8f7;
  --form-input-border-color: #e0e3eb;
  --form-input-placeholder-color: #a3aac2;
  --footer-input-placeholder-color: #a3aac2;
  --form-star-color: #c40303;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
  border: none;
  text-decoration: none;
}

@mixin backgroundSet($url) {
  background: url(#{$url});
  background-size: cover;
  background-position: center;
}

@mixin setPosition($selector, $left, $right, $top, $bottom, $zindex) {
  #{$selector} {
    left: $left;
    z-index: $zindex;
    right: $right;
    top: $top;
    bottom: $bottom;
  }
}
#stats {
  max-width: 26rem;

  .stats-diagram {
    .stats-diagram-row {
      .stats-card-outer {
        aspect-ratio: 3/2;

        &:first-of-type {
          img {
            height: 30%;
            right: -11%;
            top: -10%;
          }
        }

        &:last-of-type {
          img {
            height: 30%;
            left: -7%;
            top: -10%;
          }
        }

        .stats-card-inner {
          padding-left: min(3vw, 1.4rem);

          box-shadow: 0 12px 16px rgba($color: #111827, $alpha: 0.1),
            0 4px 6px rgba($color: #111827, $alpha: 0.05);

          h2 {
            font-size: min(13vw, 3.5rem);
          }

          p {
            margin-left: min(5vw, 1rem) !important;
            padding-left: min(4vw, 1rem) !important;
            border-left: 4px solid var(--orange-color);
            font-size: min(5vw, 1.1rem);
          }
        }
      }
    }
  }

  .stats-text {
    // aspect-ratio: 1/1;
    max-width: 40rem;

    h2 {
      color: var(--dark-blue-color);
      font-size: min(16vw, 2.3rem);
    }

    p {
      color: var(--stats-text-description-color);
      font-size: min(3.6vw, 1.3rem);
    }

    a {
      font-size: min(3.2vw, 1.1rem);
      text-decoration: none;
      color: #fff;
      background: var(--dark-blue-color);
      width: fit-content;
    }
  }
}

@media (min-width: 768px) {
  #stats {
    max-width: 50rem;

    .stats-diagram {
      height: 40rem !important;
      max-width: 55rem;

      .stats-diagram-row {
        height: 50%;
        bottom: 7%;
        &:first-of-type {
          top: 7%;
        }

        .stats-card-outer {
          position: absolute;

          @include setPosition("&.stats-card-84", null, 9%, -5%, null, 2);
          @include setPosition("&.stats-card-123", 9%, null, null, -9%, 1);
          @include setPosition("&.stats-card-37", null, 9%, -5%, null, 2);
          @include setPosition("&.stats-card-30", 9%, null, null, -9%, 1);

          &.stats-card-30 {
            .stats-card-inner img {
              left: unset;
              top: unset;
              right: -8%;
              bottom: -12%;
            }
          }

          .stats-card-inner {
            background: #fff;

            h2 {
              font-size: min(6.5vw, 2.5rem);
            }

            p {
              font-size: min(2vw, 1rem);
            }
          }
        }
      }
    }
  }
}

@media (min-width: 992px) {
  #stats {
    max-width: 68rem;

    .stats-diagram {
      margin: 0 !important;

      .stats-diagram-row {
        .stats-card-outer {
          @include setPosition("&.stats-card-84", null, 13%, 3%, null, 2);
          @include setPosition("&.stats-card-123", 13%, null, null, 3%, 1);
          @include setPosition("&.stats-card-37", null, 13%, 3%, null, 2);
          @include setPosition("&.stats-card-30", 13%, null, null, 3%, 1);

          .stats-card-inner {
            h2 {
              font-size: min(6.5vw, 2.3rem);
            }

            p {
              margin-left: min(2vw, 0.8rem) !important;
              padding-left: min(2vw, 0.8rem) !important;
              font-size: min(2vw, 0.9rem);
            }
          }
        }
      }
    }

    .stats-text {
      h2 {
        font-size: min(5vw, 4rem);
      }

      p {
        font-size: min(3.6vw, 0.9rem);
      }
    }
  }
}
