@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --dark-blue-color: #2947a9;
  --nav-link-color: #14171f;
  --orange-color: #f9995d;
  --home-card-color: #3559c7;
  --very-dark-blue-color: #292e3d;
  --reason-box-border-color: #e0e3eb;
  --reason-box-heading-color: #3d445c;
  --reason-box-description-color: #858ead;
  --service-bg-color: #f5f5f5;
  --service-image-border-bottom-stroke-color: #e0e3eb;
  --stats-diagram-box-shadow-color: rgba(17, 24, 39, 10%);
  --stat-left-description-color: #667299;
  --stats-text-description-color: #cccccc;
  --project-link-color: #c2c7d6;
  --project-card-pagination-bg-color: #f6f8f7;
  --form-section-bg-color: #f6f8f7;
  --form-input-border-color: #e0e3eb;
  --form-input-placeholder-color: #a3aac2;
  --footer-input-placeholder-color: #a3aac2;
  --form-star-color: #c40303;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
  border: none;
  text-decoration: none;
}

body {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

.logo-text {
  font-size: 1.6rem;
  color: var(--dark-blue-color);
}

.nav-link {
  font-size: 1.1rem;
  color: var(--nav-link-color) !important;
}
.nav-link:hover {
  color: var(--orange-color) !important;
}
.nav-link:active {
  color: var(--orange-color) !important;
}

#hero {
  height: 85vh;
  background: url(./images/hero/hero_bg.png);
  background-size: cover;
  background-position: center;
}
#hero .hero-heading {
  color: var(--very-dark-blue-color);
  font-weight: 600;
  font-size: min(10vw, 3.7rem);
}
#hero .hero-card {
  max-width: min(90%, 18rem);
  aspect-ratio: 7/4;
  background: var(--home-card-color);
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
#hero .hero-card h5 {
  margin-top: 5%;
  flex: 1;
  font-size: min(5vw, 1rem);
}
#hero .hero-card p {
  font-size: min(5vw, 1rem);
  flex: 1;
}
#hero .hero-card .btn-group {
  border-radius: 0;
  gap: 2px !important;
  background: #fff;
  height: 26%;
  justify-self: flex-end;
}
#hero .hero-card .btn-group button {
  border-radius: 0;
  background: var(--very-dark-blue-color);
  font-size: min(4vw, 1rem);
}
#hero .hero-card .btn-group button img {
  height: min(4vw, 1rem) !important;
}

#reason h2:first-child {
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-text-stroke: 1px black;
}
#reason .reason-card-container {
  max-width: 60rem;
}
#reason .reason-card-container .reason-card {
  max-width: 25rem;
  aspect-ratio: 7/4;
  padding: min(5vw, 1.2rem);
  border: 1.5px solid var(--reason-box-border-color);
  border-radius: 1%;
}
#reason .reason-card-container .reason-card img {
  height: 25%;
}
#reason .reason-card-container .reason-card h2 {
  font-size: min(7vw, 1.6rem);
  color: var(--reason-box-heading-color) !important;
}
#reason .reason-card-container .reason-card p {
  font-size: min(4vw, 1rem);
  color: var(--reason-box-description-color) !important;
}

#about {
  max-width: 35rem;
}
#about .about-container {
  aspect-ratio: 7/5;
  background: url(./images/about/about-person.svg);
  background-size: cover;
  background-position: center;
}
#about .about-container .about-text-container {
  background: rgba(41, 71, 169, 0.6666666667);
  padding: min(3vw, 2rem);
  justify-content: space-between;
}
#about .about-container .about-text-container h3 {
  font-size: min(10vw, 3rem);
}
#about .about-container .about-text-container p,
#about .about-container .about-text-container button {
  font-size: min(3.3vw, 1rem);
}
#about .about-container .about-text-container button {
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 1%;
  padding: min(2vw, 1rem) min(4vw, 2rem);
}

#service {
  background: var(--service-bg-color);
}
#service .service-container {
  max-width: 25rem;
}
#service .service-container .service-card-container .service-card-outer {
  aspect-ratio: 3/2;
}
#service .service-container .service-card-container .service-card-outer:nth-of-type(even) .service-card-inner {
  background: var(--dark-blue-color);
  color: #fff;
}
#service .service-container .service-card-container .service-card-outer:nth-of-type(even) .service-card-inner span {
  background: #fff;
}
#service .service-container .service-card-container .service-card-outer:nth-of-type(odd) .service-card-inner {
  background: #fff;
  color: var(--dark-blue-color);
}
#service .service-container .service-card-container .service-card-outer:nth-of-type(odd) .service-card-inner span {
  background: var(--reason-box-border-color);
}
#service .service-container .service-card-container .service-card-outer .service-card-inner {
  background: #fff;
  gap: 4%;
  transition: all 0.2s ease;
}
#service .service-container .service-card-container .service-card-outer .service-card-inner:hover {
  cursor: pointer;
  transform: scale(1.1);
}
#service .service-container .service-card-container .service-card-outer .service-card-inner span {
  width: 40%;
  border: none;
  height: 2px;
}
#service .service-container .service-card-container .service-card-outer .service-card-inner h4 {
  font-size: min(6vw, 1.7rem);
}

#stats {
  max-width: 26rem;
}
#stats .stats-diagram .stats-diagram-row .stats-card-outer {
  aspect-ratio: 3/2;
}
#stats .stats-diagram .stats-diagram-row .stats-card-outer:first-of-type img {
  height: 30%;
  right: -11%;
  top: -10%;
}
#stats .stats-diagram .stats-diagram-row .stats-card-outer:last-of-type img {
  height: 30%;
  left: -7%;
  top: -10%;
}
#stats .stats-diagram .stats-diagram-row .stats-card-outer .stats-card-inner {
  padding-left: min(3vw, 1.4rem);
  box-shadow: 0 12px 16px rgba(17, 24, 39, 0.1), 0 4px 6px rgba(17, 24, 39, 0.05);
}
#stats .stats-diagram .stats-diagram-row .stats-card-outer .stats-card-inner h2 {
  font-size: min(13vw, 3.5rem);
}
#stats .stats-diagram .stats-diagram-row .stats-card-outer .stats-card-inner p {
  margin-left: min(5vw, 1rem) !important;
  padding-left: min(4vw, 1rem) !important;
  border-left: 4px solid var(--orange-color);
  font-size: min(5vw, 1.1rem);
}
#stats .stats-text {
  max-width: 40rem;
}
#stats .stats-text h2 {
  color: var(--dark-blue-color);
  font-size: min(16vw, 2.3rem);
}
#stats .stats-text p {
  color: var(--stats-text-description-color);
  font-size: min(3.6vw, 1.3rem);
}
#stats .stats-text a {
  font-size: min(3.2vw, 1.1rem);
  text-decoration: none;
  color: #fff;
  background: var(--dark-blue-color);
  width: -moz-fit-content;
  width: fit-content;
}

#ads {
  background: url(./images/ads/ads_bg.svg);
  background-size: cover;
  background-position: center;
  height: min(40vh, 20rem);
}
#ads .ads-container .row .ads-content p {
  font-size: min(4.7vw, 1.3rem);
}
#ads .ads-container .row .ads-button-container {
  max-width: 17rem;
}
#ads .ads-container .row .ads-button-container button {
  border: 2px solid #fff;
  background: transparent;
}

#projects .project-heading {
  max-width: 30rem;
}
#projects .project-container {
  max-width: 30rem;
}
#projects .project-container .projects-link-container a {
  color: var(--project-link-color);
  font-size: min(3vw, 0.8rem);
  border-bottom: 2px solid transparent;
}
#projects .project-container .projects-link-container a.active, #projects .project-container .projects-link-container a:hover {
  color: var(--dark-blue-color);
  border-bottom: 2px solid var(--dark-blue-color);
}
#projects .projects-cards-container .project-card-outer {
  aspect-ratio: 7/6;
}
#projects .projects-cards-container .project-card-outer .project-card-inner {
  transition: all 0.1s ease;
}
#projects .projects-cards-container .project-card-outer .project-card-inner:hover {
  cursor: pointer;
  transform: scale(1.02) rotate(2deg);
}
#projects .projects-cards-container .project-card-outer .project-card-inner .image-container img {
  -o-object-position: center;
     object-position: center;
}
#projects .projects-cards-container .project-card-outer .project-card-inner .description {
  height: 30%;
  background: var(--dark-blue-color);
  gap: 5%;
}
#projects .projects-cards-container .project-card-outer .project-card-inner .description h6 {
  font-size: min(4vw, 1.5rem);
}
#projects .projects-cards-container .project-card-outer .project-card-inner .description p {
  font-size: min(3vw, 0.9rem);
}
#projects .projects-cards-container .project-naviagation-outer {
  height: min(5vh, 2.5rem);
  overflow: hidden;
}
#projects .projects-cards-container .project-naviagation-outer .project-navigation-inner button {
  background: var(--very-dark-blue-color);
  font-size: min(4vw, 1rem);
}
#projects .projects-cards-container .project-naviagation-outer .project-navigation-inner .project-navigation-dot-container a {
  background: var(--project-card-pagination-bg-color);
  aspect-ratio: 1/1;
}
#projects .projects-cards-container .project-naviagation-outer .project-navigation-inner .project-navigation-dot-container a:first-of-type {
  background: var(--dark-blue-color);
}

#contact {
  background: var(--service-bg-color);
}
#contact .contact-container br {
  display: none;
}
@media (min-width: 500px) {
  #contact .contact-container br {
    display: inline-block;
  }
}
#contact .contact-container form {
  max-width: 50rem;
}
#contact .contact-container form input {
  border: 1.5px solid var(--form-input-border-color);
}
#contact .contact-container form input:focus,
#contact .contact-container form textarea:focus {
  border: 1.5px solid var(--form-input-border-color);
}
#contact .contact-container form label {
  color: var(--form-input-placeholder-color);
  display: flex;
  align-items: center;
  font-size: min(3vw, 1.1rem);
}
#contact .contact-container form label:not([for=phone], [for=message])::after {
  content: "*";
  color: var(--form-star-color);
  font-weight: 600;
  margin-left: 2px;
}
#contact .contact-container form p {
  color: var(--stat-left-description-color);
  font-size: min(3vw, 1.1rem);
}
#contact .contact-container form p::before {
  content: "*";
  color: var(--form-star-color);
  font-weight: 600;
  margin-right: 2px;
}
#contact .contact-container form button {
  background: var(--dark-blue-color);
  border-radius: 1%;
}

footer .footer-container .footer-content-outer div:last-child {
  display: none;
}
footer .footer-container .footer-content-outer div a span {
  color: var(--dark-blue-color) !important;
}
footer .footer-container .footer-content-outer div span,
footer .footer-container .footer-form-outer div span {
  font-size: min(3.5vw, 1rem);
}
footer .footer-container .footer-content-outer div span:first-child,
footer .footer-container .footer-form-outer div span:first-child {
  color: var(--dark-blue-color);
}
footer .footer-container .footer-content-outer div span:last-child,
footer .footer-container .footer-form-outer div span:last-child {
  color: var(--very-dark-blue-color);
}
footer .footer-container .footer-content-outer input,
footer .footer-container .footer-form-outer input {
  border: 1px solid var(--form-input-border-color);
}
footer .footer-container .footer-content-outer button,
footer .footer-container .footer-form-outer button {
  border: 1px solid var(--orange-color);
  background: var(--orange-color);
  border-radius: 3%;
}
footer .footer-container .footer-content-outer input::-moz-placeholder, footer .footer-container .footer-form-outer input::-moz-placeholder {
  font-size: min(3vw, 1rem);
}
footer .footer-container .footer-content-outer input,
footer .footer-container .footer-content-outer button,
footer .footer-container .footer-content-outer input::placeholder,
footer .footer-container .footer-form-outer input,
footer .footer-container .footer-form-outer button,
footer .footer-container .footer-form-outer input::placeholder {
  font-size: min(3vw, 1rem);
}
footer .footer-container .footer-content-outer input,
footer .footer-container .footer-content-outer button,
footer .footer-container .footer-form-outer input,
footer .footer-container .footer-form-outer button {
  padding: min(1vw, 0.7rem) min(1.5vw, 0.9rem);
}
footer .footer-container .social-icon-container {
  max-height: min(7vw, 2.5rem);
}
footer .copyright {
  background: var(--dark-blue-color);
}
footer .copyright p {
  max-width: 90rem;
  font-size: min(3vw, 0.9rem);
}

@media (min-width: 768px) {
  #hero .hero-heading {
    padding: 3vw;
  }
  #hero .hero-card {
    right: 5%;
    left: unset;
    transform: unset;
    bottom: 0;
  }
  #reason .reason-card-container {
    gap: min(2vw, 1rem);
  }
  #reason .reason-card-container .reason-card h2 {
    font-size: min(3vw, 1.3rem);
  }
  #reason .reason-card-container .reason-card p {
    font-size: min(1.4vw, 1rem);
  }
  #about {
    max-width: 65rem;
  }
  #about .about-container {
    width: 75% !important;
  }
  #about .about-container .about-text-container {
    width: 50% !important;
    height: 85% !important;
    top: 50%;
    transform: translateY(-50%);
    right: -33%;
    padding: min(1vw, 1.5rem) min(2vw, 2rem);
    border-radius: 0.5%;
    background: var(--dark-blue-color);
    justify-content: space-evenly;
  }
  #about .about-container .about-text-container h3 {
    font-size: min(10vw, 2.1rem);
  }
  #about .about-container .about-text-container p,
  #about .about-container .about-text-container button {
    font-size: min(3.3vw, 0.9rem);
  }
  #service .service-container {
    max-width: 75rem;
  }
  #service .service-container .service-card-container .service-card-outer:nth-of-type(3), #service .service-container .service-card-container .service-card-outer:nth-of-type(6) {
    order: 4;
  }
  #service .service-container .service-card-container .service-card-outer .service-card-inner h4 {
    font-size: min(4vw, 1.2rem);
  }
  #stats {
    max-width: 50rem;
  }
  #stats .stats-diagram {
    height: 40rem !important;
    max-width: 55rem;
  }
  #stats .stats-diagram .stats-diagram-row {
    height: 50%;
    bottom: 7%;
  }
  #stats .stats-diagram .stats-diagram-row:first-of-type {
    top: 7%;
  }
  #stats .stats-diagram .stats-diagram-row .stats-card-outer {
    position: absolute;
  }
  #stats .stats-diagram .stats-diagram-row .stats-card-outer.stats-card-84 {
    z-index: 2;
    right: 9%;
    top: -5%;
  }
  #stats .stats-diagram .stats-diagram-row .stats-card-outer.stats-card-123 {
    left: 9%;
    z-index: 1;
    bottom: -9%;
  }
  #stats .stats-diagram .stats-diagram-row .stats-card-outer.stats-card-37 {
    z-index: 2;
    right: 9%;
    top: -5%;
  }
  #stats .stats-diagram .stats-diagram-row .stats-card-outer.stats-card-30 {
    left: 9%;
    z-index: 1;
    bottom: -9%;
  }
  #stats .stats-diagram .stats-diagram-row .stats-card-outer.stats-card-30 .stats-card-inner img {
    left: unset;
    top: unset;
    right: -8%;
    bottom: -12%;
  }
  #stats .stats-diagram .stats-diagram-row .stats-card-outer .stats-card-inner {
    background: #fff;
  }
  #stats .stats-diagram .stats-diagram-row .stats-card-outer .stats-card-inner h2 {
    font-size: min(6.5vw, 2.5rem);
  }
  #stats .stats-diagram .stats-diagram-row .stats-card-outer .stats-card-inner p {
    font-size: min(2vw, 1rem);
  }
  #ads .ads-container {
    max-width: 65rem;
  }
  #projects .project-heading {
    max-width: 60rem;
  }
  #projects .project-container {
    max-width: 60rem;
  }
  #projects .project-container .projects-link-container a {
    border-bottom: none;
    border-left: 2px solid transparent;
  }
  #projects .project-container .projects-link-container a.active, #projects .project-container .projects-link-container a:hover {
    color: var(--dark-blue-color);
    border-bottom: none;
    border-left: 2px solid var(--dark-blue-color);
  }
  #projects .project-container .projects-cards-container .project-card-outer .project-card-inner .description h6 {
    font-size: min(2vw, 1.2rem);
  }
  #projects .project-container .projects-cards-container .project-card-outer .project-card-inner .description p {
    font-size: min(1.4vw, 0.8rem);
  }
  #projects .project-container .projects-cards-container .project-naviagation-outer {
    height: 3rem;
  }
  #projects .project-container .projects-cards-container .project-naviagation-outer .project-navigation-inner button {
    font-size: min(2vw, 1.1rem);
  }
  footer .footer-container {
    max-width: 90rem;
  }
  footer .footer-container .footer-content-outer div:last-child {
    display: flex;
  }
  footer .footer-container .footer-content-outer div span,
  footer .footer-container .footer-form-outer div span {
    font-size: min(1.8vw, 1.3rem);
  }
  footer .footer-container .footer-form-outer input::-moz-placeholder {
    font-size: min(1.8vw, 1.3rem);
  }
  footer .footer-container .footer-form-outer input,
  footer .footer-container .footer-form-outer button,
  footer .footer-container .footer-form-outer input::placeholder {
    font-size: min(1.8vw, 1.3rem);
  }
  footer .footer-container .footer-form-outer input,
  footer .footer-container .footer-form-outer button {
    padding: min(1vw, 0.7rem) min(1.5vw, 0.9rem);
  }
}
@media (min-width: 992px) {
  .service-card-outer {
    order: unset !important;
  }
  .service-card-outer .about-text-container {
    width: 50% !important;
    height: 85% !important;
    top: 50%;
    transform: translateY(-50%);
    right: -33%;
    padding: min(1vw, 1.5rem) min(2vw, 2rem);
    border-radius: 0.5%;
    background: var(--dark-blue-color);
    justify-content: space-evenly;
  }
  .service-card-outer .about-text-container h3 {
    font-size: min(10vw, 2.1rem);
  }
  .service-card-outer .about-text-container p,
  .service-card-outer .about-text-container button {
    font-size: min(3.3vw, 0.9rem);
  }
  #stats {
    max-width: 68rem;
  }
  #stats .stats-diagram {
    margin: 0 !important;
  }
  #stats .stats-diagram .stats-diagram-row .stats-card-outer.stats-card-84 {
    z-index: 2;
    right: 13%;
    top: 3%;
  }
  #stats .stats-diagram .stats-diagram-row .stats-card-outer.stats-card-123 {
    left: 13%;
    z-index: 1;
    bottom: 3%;
  }
  #stats .stats-diagram .stats-diagram-row .stats-card-outer.stats-card-37 {
    z-index: 2;
    right: 13%;
    top: 3%;
  }
  #stats .stats-diagram .stats-diagram-row .stats-card-outer.stats-card-30 {
    left: 13%;
    z-index: 1;
    bottom: 3%;
  }
  #stats .stats-diagram .stats-diagram-row .stats-card-outer .stats-card-inner h2 {
    font-size: min(6.5vw, 2.3rem);
  }
  #stats .stats-diagram .stats-diagram-row .stats-card-outer .stats-card-inner p {
    margin-left: min(2vw, 0.8rem) !important;
    padding-left: min(2vw, 0.8rem) !important;
    font-size: min(2vw, 0.9rem);
  }
  #stats .stats-text h2 {
    font-size: min(5vw, 4rem);
  }
  #stats .stats-text p {
    font-size: min(3.6vw, 0.9rem);
  }
}
.border-radius-3px,
input {
  border-radius: 3px !important;
}/*# sourceMappingURL=style.css.map */