@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
    --dark-blue-color: #2947a9;
    --nav-link-color: #14171f;
    --orange-color: #f9995d;
    --home-card-color: #3559c7;
    --very-dark-blue-color: #292e3d;
    --reason-box-border-color: #e0e3eb;
    --reason-box-heading-color: #3d445c;
    --reason-box-description-color: #858ead;
    --service-bg-color: #f5f5f5;
    --service-image-border-bottom-stroke-color: #e0e3eb;
    --stats-left-box-shadow-color: rgba(17, 24, 39, 10%);
    --stat-left-description-color: #667299;
    --stats-right-description-color: #cccccc;
    --project-link-color: #c2c7d6;
    --project-card-pagination-bg-color: #f6f8f7;
    --form-section-bg-color: #f6f8f7;
    --form-input-border-color: #e0e3eb;
    --form-input-placeholder-color: #a3aac2;
    --footer-input-placeholder-color: #a3aac2;
    --form-star-color: #c40303;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Work Sans", sans-serif;
    border: none;
    text-decoration: none;
}

body {
    font-size: 62.5%;
}

// Nav
.logo-text {
    font-size: 1.6rem;
    color: var(--dark-blue-color);
}

.nav-link {
    font-size: 1.1rem;
    color: var(--nav-link-color) !important;

    &:hover {
        color: var(--orange-color) !important;
    }

    &:active {
        color: var(--orange-color) !important;
    }
}

// Hero
#hero {
    height: 85vh;
    background: url(./images/hero/hero_bg.png);
    background-size: cover;
    background-position: center;

    .hero-heading {
        color: var(--very-dark-blue-color);
        font-weight: 600;
        font-size: min(10vw, 3.7rem);
    }

    .hero-card {
        max-width: 18rem;
        aspect-ratio: 7/4;
        background: var(--home-card-color);

        h5 {
            margin-top: 5%;
        }

        p {

            font-size: min(5vw, 1rem);
        }

        .btn-group {
            border-radius: 0;
            gap: 2px !important;
            background: #fff;
            height: 26%;
            justify-self: flex-end;

            button {
                border-radius: 0;
                background: var(--very-dark-blue-color);
                font-size: min(4vw, 1rem);

                img {
                    height: min(4vw, 1rem) !important;
                }
            }
        }
    }
}

// Reason
#reason {
    h2:first-child {
        text-shadow: 0 4px 4px rgba(0, 0, 0, 25%);
        -webkit-text-stroke: 1px black;
    }

    .reason-card-container {
        max-width: 70rem;

        .reason-card {
            max-width: 25rem;
            aspect-ratio: 7/4;
            padding: min(5vw, 1.2rem);
            border: 1.5px solid var(--reason-box-border-color);
            border-radius: 1%;

            img {
                height: 25%;
            }

            h2 {
                font-size: min(10vw, 2.3rem);
                color: var(--reason-box-heading-color) !important;
            }

            p {
                font-size: min(5vw, 1.1rem);
                color: var(--reason-box-description-color) !important;
            }
        }
    }
}

#about {
    max-width: 35rem;

    .about-container {
        aspect-ratio: 7/5;
        background: url(./images/about/about-person.svg);
        background-size: cover;
        background-position: center;

        .about-text-container {
            background: #2947a9aa;
            padding: min(3vw, 2rem);
            justify-content: space-between;

            h3 {
                font-size: min(10vw, 3rem);
            }

            p,
            button {
                font-size: min(3.3vw, 1rem);
            }

            button {
                width: fit-content;
                border-radius: 1%;
                padding: min(2vw, 1rem) min(4vw, 2rem);
            }
        }
    }
}

#service {
    background: var(--service-bg-color);

    .service-container {
        max-width: 25rem;

        .service-card-container .service-card-outer {
            aspect-ratio: 3/2;

            &:nth-of-type(even) .service-card-inner {
                background: var(--dark-blue-color);
                color: #fff;

                span {
                    background: #fff;
                }
            }

            &:nth-of-type(odd) .service-card-inner {
                background: #fff;
                color: var(--dark-blue-color);


                span {
                    background: var(--reason-box-border-color);
                }
            }


            .service-card-inner {
                background: #fff;
                gap: 4%;

                span {
                    width: 40%;
                    border: none;
                    height: 2px;
                }

                h4 {
                    font-size: min(8vw, 1.9rem);
                }
            }

        }
    }
}

#projects {
    .project-container {
        max-width: 35rem;

        .projects-link-container {
            a {
                color: var(--project-link-color);
                font-size: min(3vw, .8rem);
                border-bottom: 2px solid transparent;

                &.active,
                &.hover {
                    color: var(--dark-blue-color);
                    border-bottom: 2px solid var(--dark-blue-color);
                }
            }
        }
    }
}

@media (min-width:768px) {
    #hero {

        .hero-heading {
            padding: 3vw;
        }

        .hero-card {
            position: absolute;
            right: 5%;
            bottom: 0;
        }
    }

    #reason {
        .reason-card-container {
            gap: min(2vw, 1rem);

            .reason-card {
                h2 {
                    font-size: min(3vw, 1.7rem);
                }

                p {
                    font-size: min(1.2vw, .9rem);
                }
            }
        }
    }

    #about {
        max-width: 65rem;

        .about-container {
            width: 75% !important;

            .about-text-container {
                width: 50% !important;
                height: 85% !important;
                top: 50%;
                transform: translateY(-50%);
                right: -33%;
                padding: min(1vw, 1.5rem) min(2vw, 2rem);
                border-radius: .5%;
                background: var(--dark-blue-color);
                justify-content: space-evenly;

                h3 {
                    font-size: min(10vw, 2.1rem);
                }

                p,
                button {
                    font-size: min(3.3vw, .9rem);
                }
            }
        }
    }

    #service {
        .service-container {
            max-width: 75rem;

            .service-card-container .service-card-outer {
                &:nth-of-type(3) {
                    order: 4;
                }

                &:nth-of-type(6) {
                    order: 4;
                }

                .service-card-inner h4 {
                    font-size: min(4vw, 1.4rem);
                }
            }

        }
    }

    #projects {
        .project-container {
            max-width: unset;

            .projects-link-container {
                a {
                    border-bottom: none;
                    border-left: 2px solid transparent;

                    &.active,
                    &.hover {
                        color: var(--dark-blue-color);
                        border-bottom: none;
                        border-left: 2px solid var(--dark-blue-color);
                    }
                }
            }
        }
    }

}

@media (min-width: 992px) {

    .service-card-outer {
        order: unset !important;

        .about-text-container {
            width: 50% !important;
            height: 85% !important;
            top: 50%;
            transform: translateY(-50%);
            right: -33%;
            padding: min(1vw, 1.5rem) min(2vw, 2rem);
            border-radius: .5%;
            background: var(--dark-blue-color);
            justify-content: space-evenly;

            h3 {
                font-size: min(10vw, 2.1rem);
            }

            p,
            button {
                font-size: min(3.3vw, .9rem);
            }
        }
    }
}